* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(15, 14, 23);
}

.freecodecamp-logo-contenedor {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.freecodecamp-logo {
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: lato, sans-serif;
  padding-top: 15px;
}
.boton-clic {
}

.boton-reiniciar {
}
